.slideout
    background-color: #474546
    .slide
        font-size: 50px
        color: white
        margin-left: 60px
        // padding-right: 30px
        // background-color: white
.content   
    // overflow-y: auto
    .swiper-wrap
        height: 1100px     
        .swiper-item
            overflow-y: scroll
.post
    font-size: 100px
    color: #80bd01  
    position: absolute
    background: white
    right: 20px
    bottom: 40px                  