.content   
    // overflow-y: auto
    .swiper-wrap
        height: 1100px     
        .swiper-item
            overflow-y: scroll
.post
    font-size: 100px
    color: #80bd01  
    position: absolute
    background: white
    right: 20px
    bottom: 40px                  