.scrollview
  font-size: 32px
  img
    width: 100%
  .listwrap
    display: flex
    //align-items: center
    padding: 40px    
    border-bottom: 1px solid #eee 
    flex-direction: column
    .tag
      width: 60px
      text-align: center
      padding: 4px 6px
      border-radius: 6px
      font-size: 24px
      background: #eee
    .list
      padding: 30px 0
      line-height: 40px 
      flex: auto
    .info
      font-size: 24px
      display: flex
      align-items: center
      .author
        flex: 0 1 auto
        display: flex
        align-items: center
        .avatar
          width: 40px
          height: 40px
          border-radius: 50%
          overflow: hidden
          margin-right: 20px
        .name
          font-size: 24px  
          line-height: 40px
      .create_at
        flex: auto
        text-align: right

    

