.scrollview
  font-size: 28px
  overflow auto
  .listwrap
    display: flex
    align-items: center
    padding: 20px    
    border-bottom: 1px solid #eee 
    .list
      padding-left: 20px
      line-height: 40px      
    .avatar
      width: 60px
      height: 60px
      border-radius: 50%
      overflow: hidden

