.flex-wrp
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: #474546
    .flex-item
        flex: auto;
        text-align: center;
        color: white;
        padding: 12px 20px;
        font-size: 28px;
        &.active
            border-bottom: 4px solid #fff;