.index
  height: 100%
  z-index: 1
  img
    width: 100%
  .response
    font-size: 80px
    text-align: center
    line-height: 100px
    color: white  
    position: fixed
    background: #80bd01
    right: 20px
    bottom: 40px
    width: 100px
    height: 100px
    border-radius: 50%                    
  .main
    font-size: 32px
    line-height: 56px
    .title
      font-size:40px;
      font-weight:bold;
      // margin-bottom:10px;
      padding: 20px
    .tips
      display: flex
      font-size: 28px
      padding: 10px 20px
      color: #838383
      border-bottom: 1px solid #eee
      .tab
        flex: auto
      .collection
        display: inline-block
        font-size: 50px;
        text-align: right
        &.green
          color: #80bd01
    .content
      padding: 20px  
      .landlord
        display: flex
        align-items: center
        margin-bottom: 40px
        font-size: 28px
        .avatar
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden
        .name
          flex: auto  
          padding-left: 20px;
          color: #08c
    .comments
      .tag  
        background-color: #eee;
        padding: 20px
      .list
        border-bottom: 1px solid #eee; 
        padding: 20px 
        .author
          display: flex;
          align-items: center;
          //margin-bottom: 20px;
          font-size: 28px
          .avatar
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden
          .name
            flex: auto  
            padding-left: 20px;
            color: #08c
        .content
          padding-left: 50px;
          .markdown-text
            img
              width: 100px 
  .modal
    width: 100%
    height: 100%
    position: absolute
    top: 0
    background: rgba(0,0,0,0.5)
    z-index: 999
    &.hide
      display: none
  .response-wrapper
    z-index: 1000
    width: 100%
    height: 0
    transition: height 4s ease 0
    position fixed
    bottom: 0px
    background: #fff
  .test
    z-index: 1000
    width: 100%
    height: 0
    position: fixed
    bottom: 0
    background: #fff
    height: 400px
    .top
      box-shadow: 0px 10px 10px #ccc
      background: #fff
      width: 100%
      padding: 10px 0
      .sent
        font-size: 50px
        float: right
        margin-right: 30px
        line-height: 40px
        color: #80bd01
    .content
      border: 1px solid #eee
      width: 100% 
      height: 380px
      padding: 4px

            
              
        



.wxParse{
    margin: 0 5px;
    font-family: Helvetica,sans-serif;
    font-size: 28rpx;
    color: #666;
    line-height: 1.8;
}
view{
    word-break:break-all; overflow:auto;
}
.wxParse-inline{
    display: inline;
    margin: 0;
    padding: 0;
}

.wxParse-div{margin: 0;padding: 0;}
.wxParse-h1{ font-size:2em; margin: .67em 0 }
.wxParse-h2{ font-size:1.5em; margin: .75em 0 }
.wxParse-h3{ font-size:1.17em; margin: .83em 0 }
.wxParse-h4{ margin: 1.12em 0}
.wxParse-h5 { font-size:.83em; margin: 1.5em 0 }
.wxParse-h6{ font-size:.75em; margin: 1.67em 0 }

.wxParse-h1 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: .9em;
}
.wxParse-h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: .34em;
}
.wxParse-h3 {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: .34em;
}
.wxParse-h4 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: .24em;
}
.wxParse-h5 {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: .14em;
}
.wxParse-h6 {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: .04em;
}

.wxParse-h1, .wxParse-h2, .wxParse-h3, .wxParse-h4, .wxParse-h5, .wxParse-h6, .wxParse-b, .wxParse-strong  { font-weight: bolder }

.wxParse-i,.wxParse-cite,.wxParse-em,.wxParse-var,.wxParse-address{font-style:italic}
.wxParse-pre,.wxParse-tt,.wxParse-code,.wxParse-kbd,.wxParse-samp{font-family:monospace}
.wxParse-pre{white-space:pre}
.wxParse-big{font-size:1.17em}
.wxParse-small,.wxParse-sub,.wxParse-sup{font-size:.83em}
.wxParse-sub{vertical-align:sub}
.wxParse-sup{vertical-align:super}
.wxParse-s,.wxParse-strike,.wxParse-del{text-decoration:line-through}
/*wxparse-自定义个性化的css样式*/
/*增加video的css样式*/
.wxParse-strong,.wxParse-s{display: inline}
.wxParse-a{
    color: deepskyblue;
    word-break:break-all;
    overflow:auto;
}

.wxParse-video{
    text-align: center;
    margin: 10px 0;
}

.wxParse-video-video{
    width:100%;
}

.wxParse-img{
    /*background-color: #efefef;*/
    overflow: hidden;
}

.wxParse-blockquote {
    margin: 0;
    padding:10px 0 10px 5px;
    font-family:Courier, Calibri,"宋体";
    background:#f5f5f5;
    border-left: 3px solid #dbdbdb;
}

.wxParse-code,.wxParse-wxxxcode-style{
    display: inline;
    background:#f5f5f5;
}
.wxParse-ul{
    margin: 20rpx 10rpx;
}

.wxParse-li,.wxParse-li-inner{
    display: flex;
    align-items: baseline;
    margin: 10rpx 0;
}
.wxParse-li-text{
    
    align-items: center;
    line-height: 20px;
}

.wxParse-li-circle{
    display: inline-flex;
    width: 5px;
    height: 5px;
    background-color: #333;
    margin-right: 5px;
}

.wxParse-li-square{
    display: inline-flex;
    width: 10rpx;
    height: 10rpx;
    background-color: #333;
    margin-right: 5px;
}
.wxParse-li-ring{
    display: inline-flex;
    width: 10rpx;
    height: 10rpx;
    border: 2rpx solid #333;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 5px;
}

/*.wxParse-table{
    width: 100%;
    height: 400px;
}
.wxParse-thead,.wxParse-tfoot,.wxParse-tr{
    display: flex;
    flex-direction: row;
}
.wxParse-th,.wxParse-td{
    display: flex;
    width: 580px;
    overflow: auto;
}*/

.wxParse-u {
  text-decoration: underline;
}
.wxParse-hide{
    display: none;
}
.WxEmojiView{
    align-items: center;
}
.wxEmoji{
    width: 16px;
    height:16px;
}
.wxParse-tr{
	display: flex;
	border-right:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	border-top:1px solid #e0e0e0;
}
.wxParse-th,
.wxParse-td{
	flex:1;
	padding:5px;
	font-size:28rpx;
	border-left:1px solid #e0e0e0;
	word-break: break-all;
}
.wxParse-td:last{
	border-top:1px solid #e0e0e0;
}
.wxParse-th{
	background:#f0f0f0;
	border-top:1px solid #e0e0e0;
}
.wxParse-del{
    display: inline;
}
.wxParse-figure {
  overflow: hidden;
}

