@font-face {
  font-family: 'iconfont';  /* project id 731118 */
  src: url('//at.alicdn.com/t/font_731118_b41ogn09gmg.eot');
  src: url('//at.alicdn.com/t/font_731118_b41ogn09gmg.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_731118_b41ogn09gmg.woff') format('woff'),
  url('//at.alicdn.com/t/font_731118_b41ogn09gmg.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_731118_b41ogn09gmg.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankaicelalan:before { content: "\e68d"; }

.icon-user:before { content: "\e611"; }

.icon-chakan:before { content: "\e602"; }

.icon-huifu1:before { content: "\e67e"; }

.icon-76:before { content: "\e70d"; }

.icon-edit3:before { content: "\e6eb"; }

.icon-edit4:before { content: "\e60a"; }

.icon-zhankai:before { content: "\e786"; }

.icon-dianzan:before { content: "\e609"; }

