
@font-face {
  font-family: 'iconfont';  /* project id 731118 */
  src: url('//at.alicdn.com/t/font_731118_slq4n7qkys.eot');
  src: url('//at.alicdn.com/t/font_731118_slq4n7qkys.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_731118_slq4n7qkys.woff') format('woff'),
  url('//at.alicdn.com/t/font_731118_slq4n7qkys.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_731118_slq4n7qkys.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chakan:before { content: "\e602"; }

.icon-huifu1:before { content: "\e67e"; }

.icon-edit3:before { content: "\e6eb"; }

.icon-edit4:before { content: "\e60a"; }

.icon-dianzan:before { content: "\e609"; }

