
@font-face {
  font-family: 'iconfont';  /* project id 731118 */
  src: url('//at.alicdn.com/t/font_731118_3qzbg4l8sfv.eot');
  src: url('//at.alicdn.com/t/font_731118_3qzbg4l8sfv.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_731118_3qzbg4l8sfv.woff') format('woff'),
  url('//at.alicdn.com/t/font_731118_3qzbg4l8sfv.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_731118_3qzbg4l8sfv.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankaicelalan:before { content: "\e68d"; }

.icon-saoma:before { content: "\e64b"; }

.icon-github:before { content: "\eaf6"; }

.icon-user:before { content: "\e611"; }

.icon-chakan:before { content: "\e602"; }

.icon-dianzan1:before { content: "\e60d"; }

.icon-huifu1:before { content: "\e67e"; }

.icon-76:before { content: "\e70d"; }

.icon-iconfontzhizuobiaozhun20:before { content: "\e613"; }

.icon-icon_sent:before { content: "\e60c"; }

.icon-edit3:before { content: "\e6eb"; }

.icon-edit4:before { content: "\e60a"; }

.icon-shoucang:before { content: "\e63b"; }

.icon-xiaoxi:before { content: "\e644"; }

.icon-zhankai:before { content: "\e786"; }

.icon-dianzan:before { content: "\e609"; }

